@font-face {
    font-family: "SF Pro Text";
    src: url("https://db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.eot");
    src: url("https://db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.svg#SF Pro Text Bold")format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Menlo";
    src: url("https://db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.eot");
    src: url("https://db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.svg#Menlo Bold")format("svg");
    font-weight: bold;
    font-style: normal;
}

/* @font-face {
    font-family: "Courier Bold";
    src: url("https://db.onlinewebfonts.com/t/f7764385034ca11a139b548aa1fa7522.eot");
    src: url("https://db.onlinewebfonts.com/t/f7764385034ca11a139b548aa1fa7522.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f7764385034ca11a139b548aa1fa7522.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f7764385034ca11a139b548aa1fa7522.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f7764385034ca11a139b548aa1fa7522.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f7764385034ca11a139b548aa1fa7522.svg#Courier New Bold")format("svg");
} */


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll if there's any */
    font-size: 30pt;
}

body {
    background-color: #fffbe2;
}

.container {
    position: relative;
    min-height: 100vh;
}

#content {
    position: relative;
    overflow: hidden;
    z-index: 2;
    text-align: center;
    font-family: 'Menlo', monospace;
    font-weight: 600;
    color: #111111;
    padding: 0 16px 0 16px;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;        
    cursor: default; 
}

#bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.yellow, .red, .blue, p, h1, h2, .emoji, .year {
    text-shadow: 0px 0px 1pt rgba(255, 251, 226, 0.5)
}

.yellow { color: #e9a651; }
.red { color: #9c2834; }
.blue { color: #214b70; }

h1 {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: bold;

}

h2 {
    font-family: 'Courier Bold', monospace;
    font-weight: bold;
    margin-top: 0;
}

p {
    margin-top: 0;    
}

a, a span {
    text-decoration: none;
}

img {
    pointer-events: none;
}

h1, h2, p {
    -webkit-user-select: auto; 
    -moz-user-select: auto;    
    -ms-user-select: auto;     
    user-select: auto;    
    cursor: auto; 
}

.avatar-image {
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in; 
}

.emoji {
    margin-bottom: 0;
}

#iphone-slider {
    position: relative;
    width: 300pt;
    height: 600pt;
    margin: auto;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grow-on-hover {
    transform: scale(1);
    transition: transform 0.1s linear; 
}

.icon-item img {
    border-radius: 22.5%;
}

.icon-item:last-of-type {
    margin: 0;
}

#counter {
    position: fixed;
    display: block;
    top: 16pt;
    right: 16pt;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.2s linear; 
    text-align: right;
    font-size: 10pt;

}


/* Small devices (phones, up to 480px) */
@media only screen and (max-width: 480px) {
    h1 { 
        font-size: 24pt;
        margin-top: 32pt;
        margin-bottom: 32pt;
    }
    h2 {
        font-size: 28pt; 
        margin-bottom: 32pt;
    }
    p, .about-section-content {
        font-size: 12pt;
        line-height: 22pt;
    }
    section {
        margin-bottom: 32pt;
    }

    .about-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .avatar-image-container {
        margin-bottom: 32pt;
    }

    .avatar-image {
        width: 192pt;
    }

    .emoji {
        font-size: 24pt;
    }

    #iphone-slider {
        width: 200pt;
        height: 400pt;
    }
    
    .icon-item {
        margin: 0 0 16pt 0;
    }
    
    .icon-item img {
        width: 32pt;
        height: auto;
    }

    footer img {
        width: 64pt;
    }

}


/* Medium devices (tablets, 481px and up to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    h1 { 
        font-size: 40pt;
        margin-top: 32pt;
        margin-bottom: 32pt;
    }
    h2 {
        font-size: 36pt; 
        margin-bottom: 32pt;
    }
    p, .about-section-content {
        font-size: 12pt;
        line-height: 22pt;
    }
    section {
        margin-bottom: 32pt;
    }

    .about-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .avatar-image-container {
        margin-bottom: 32pt;
    }

    .avatar-image {
        width: 192pt;
    }

    .emoji {
        font-size: 24pt;
    }

    #iphone-slider {
        width: 256pt;
        height: 512pt;
    }
    
    .icon-item {
        margin: 0 0 16pt 0;
    }
    
    .icon-item img {
        width: 32pt;
        height: auto;
    }

    footer img {
        width: 64pt;
    }
}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
    h1 { 
        font-size: 64pt;
        margin-top: 32pt;
        margin-bottom: 32pt;
    }
    h2 {
        font-size: 48pt; 
        margin-bottom: 32pt;
    }
    p, .about-section-content {
        font-size: 12pt;
        line-height: 22pt;
    }

    section {
        margin-bottom: 32pt;
    }

    .about-title {
        margin: 0 auto 32pt auto;
    }

   
    .about-title-container {
        display: block;
    }

    .avatar-image-container {
        position: absolute;
        height: 0;
        width: 28%;
        margin-bottom: 32pt;
    }

    .avatar-image {
        width: 128pt;
        transform: translateY(-20%);
    }

    .emoji {
        font-size: 24pt;
    }
    #iphone-slider {
        width: 256pt;
        height: 512pt;
    }
    .icon-item {
        margin: 0 0 16pt 0;
    }
    .icon-item img {
        width: 42pt;
        height: auto;
    }
    footer img {
        width: 72pt;
        margin-bottom: 16pt;
    }
    
}

@media only screen and (min-width: 1440px) {
    .avatar-image-container {
        width: 40%;
    }
    .avatar-image {
        width: 162pt;
        transform: translateY(-30%);
    }
}

/* Slider */

#iphone-slider .slider-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#iphone-slider .slider-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#iphone-slider .slider-icon-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: calc(2/5 * 100%);
    padding-left: calc(1/26 * 100%);
    padding-right: calc(1/26 * 100%);
}

.slider-icon {
    box-sizing: border-box;
    width: calc(2/13 * 100%);
    margin-left: calc(2/26 * 100%);
    margin-bottom: calc(1/26 * 100%);
    text-align: center;

}

.slider-icon img {
    border-radius: 22.5%;
    width: 100%;
    height: auto;
}

#iphone-slider .slider-icon span {
    display: flex;
    justify-content: center;
    font-family: 'Menlo', monospace;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iphone-slider .slider-text {
    margin-top: calc(2/5 * 100%);
    padding-left: calc(1/13 * 100%);
    padding-right: calc(1/13 * 100%);
    font-family: 'Menlo', monospace;
    font-weight: bold;
    color: black;
    text-align: left;
}

/* Small devices (phones, up to 480px) */
@media only screen and (max-width: 480px) {
    #iphone-slider .slider-icon span {
        font-size: 9pt;
    }
    
    #iphone-slider .slider-text {
        font-size: 11pt;
    }
}

/* Medium devices (tablets, 481px and up to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #iphone-slider .slider-icon span {
        font-size: 11pt;
    }
    
    #iphone-slider .slider-text {
        font-size: 14pt;
    }
}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
    #iphone-slider .slider-icon span {
        font-size: 11pt;
    }
    
    #iphone-slider .slider-text {
        font-size: 14pt;
    }
}