
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll if there's any */
}

body {
    background-color: #fffbe2;
}

.container {
    position: relative;
    min-height: 100vh;
}

#content {
    position: relative;
    overflow: hidden;
    z-index: 2;
    text-align: center;
    font-family: 'Menlo', sans-serif;
    font-weight: 600;
    color: #111111;
    padding: 32pt 16pt 0 16pt;
}

#bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.yellow, 
.red, 
.blue, 
p, 
h1, 
h2, 
.emoji, 
.year {
    text-shadow: 0px 0px 1pt #fffbe2;
}

.yellow {
    color: #e9a651;
}

.red {
    color: #9c2834;
}

.blue {
    color: #214b70;
}

h1 {
    font-family: 'SF Pro', sans-serif;
    font-weight: bold;
    line-height: auto;
    font-size: 85pt;
}

h2 {
    font-family: 'Courier Bold', sans-serif;
    font-size: 60pt;
    margin-bottom: 32pt;
}

p {
    font-size: 18pt;
    margin-bottom: 32pt;
}

.emoji {
    font-size: 36pt;
}

.icons a {
    display: block;
    margin: 16pt 0;
}

section {
    margin-bottom: 64pt;
}

.about-section {
    line-height: 30pt;

}

.avatar-image {
    position: absolute;
    top: 130pt;
    left: 50%;
    z-index: 3;
    width: 256px;
    height: 256px;
    margin-right: 32pt;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .avatar-image {
        top: 20pt;
    }
}

footer img {
    margin-bottom: 32pt;
}

.year {
    font-family: 'Menlo';
}
